 @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700;800&family=Work+Sans:wght@400;600;700;800&display=swap');
 
 *{
    font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;
 }
 /* Header Styles */
 header{
    background: rgba(255, 144, 14, 0.10);
    padding: 50px 240px;
 }
 nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
 }
 .nav-title{
    font-size: 45px;
    font-weight: 700;
    color: var(--dark-01, #131313);
 }
 nav > ul{
    display: flex;
 }
 nav  li{
    list-style: none;
    margin-right: 30px;
    font-weight: 500;
    font-size: 1rem;
 }
 nav li a{
    text-decoration: none;
    color: var(--dark-02, #424242);
 }
 /* Banner Styles */
 .banner-content{
    max-width: 500px;
    text-align: center;
    margin: 0px auto;
}
.banner-title{
    font-size: 3.6rem;
    font-weight: 700;
    color: var(--dark-01, #131313);
}
.banner-description{
    color: var(--dark-03, #727272);
}
.btn-primary{
    border-radius: 0px;
    background: #FF900E;
    color: #FFF;
    text-align: center;
    font-family: Work Sans;
    font-size: 20px;
    font-weight: 600;
    padding: 15px 20px;
    margin: 30px 0px 42px 0px;
    cursor: pointer;
    border: 0;
}
.banner img{
    width: 100%;
}
/* main section */
main{
    max-width: 1440px;
    margin: 0 auto;
}
/* teams style */
.teams-container{
    display: flex;
    align-items: center;
    gap: ;
}
.teams-img-container{
    display: grid;
    gap: 24px;
    grid-template-columns: repeat(2, 1fr);
}
.teams-content{
    padding: 0px 70px;
}
.teams-title{
    font-size: 45px;
}
.ql{
    color: var(--dark-03, #727272);
    font-weight: 500;
}
.f{
    color: #FF900E;
    font-weight: 700;
}
/* Responsive */
/* Mobile Devices */
@media screen and (max-width:576px) {
    header{
        padding: 20px;
    }
    nav{
        flex-direction: column;
    }
}
@media screen and (min-width:577px) and (max-width:960px) {
    nav {
        flex-direction: column;
    }
    header{
        padding: 50px;
    }
}
